.icon-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.icon-btn img {
  width: 30px;
  height: 30px;
}

.play-main img {
  width: 40px;
  height: 40px;
}

.heart {
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: transform 0.2s;
}

.heart:hover {
  transform: scale(1.2);
}

.nav-icon {
  width: 24px;
  height: 24px;
  margin-bottom: 4px;
}

.track-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e1e;
  padding: 10px 15px;
  border-radius: 10px;
}

.track-info {
  display: flex;
  flex-direction: column;
}

.track-title {
  font-weight: bold;
  color: white;
  margin: 0;
}

.track-artist {
  color: #aaa;
  margin: 0;
  font-size: 14px;
}

.like-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.2s;
}

.like-icon:hover {
  transform: scale(1.2);
}
